SMTP_HOST=smtp.gmail.com
SMTP_AUTH=true
SMTP_USERNAME=votre_email@gmail.com
SMTP_PASSWORD=votre_mot_de_passe
SMTP_SECURE=tls
SMTP_PORT=587
SMTP_FROM_EMAIL=noreply@darquest.com
SMTP_FROM_NAME=L'Arsenal de Sombre-Donjon

DB_HOST=127.0.0.1
DB_NAME=dbdarquest15
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
